  <nav class="grey darken-1" role="navigation">
    <div class="nav-wrapper container"><!-- <a id="logo-container" href="#" class="brand-logo">Logo</a> -->
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
        <div class="row">
        <div class="col s2"></div>
          <form class="col s8">
            <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <input id="mobile" type="text" class="validate">
                <label for="mobile">Mobile</label>
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field col s6">
                <div class="btn grey">
                  <span>License File</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <div class="input-field col s6">
                <input id="diNumber" type="text" class="validate">
                <label for="diNumber">DI Number</label>
              </div>
            </div>
            <div class="row">
              <p><b>Enter Date of Birth :</b></p>
              <div class="input-field col s4">
                
              </div>
              <div class="input-field col s4">
              </div>
              <div class="input-field col s4">
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="pin" type="email" class="validate">
                <label for="pin">Pin Number</label>
              </div>
              <div class="input-field col s6">
                  <input name="group1" type="radio" id="yes" value="Y" checked="checked" />
                  <label for="yes">Yes</label>
                  <input name="group1" value="N" type="radio" id="no" />
                  <label for="no">No</label>
                
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button type="submit" class="waves-effect waves-light btn green">Add</button>
                <a href="#/user" class="waves-effect waves-light btn red lighten-2">Back to List</a> 
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>

  <footer class="page-footer grey darken-1" style="padding-top: 0">
    <div class="footer-copyright">
      <div class="container">
       <!--  Made by <a class="orange-text text-lighten-3" href="#">Materialize</a> -->
      </div>
    </div>
  </footer>
