  <nav class="grey darken-1" role="navigation">
    <div class="nav-wrapper container"><!-- <a id="logo-container" href="#" class="brand-logo">Logo</a> -->
      <ul class="right hide-on-med-and-down">
        <li><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li class="active"><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
        <div class="row">
        <div class="col s2"></div>
          <form class="col s8">
            <!-- <div class="row">
              <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <input id="mobile" type="text" class="validate">
                <label for="mobile">Mobile</label>
              </div>
            </div>
            <div class="row">
              <div class="file-field input-field col s6">
                <div class="btn grey">
                  <span>License File</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
              <div class="input-field col s6">
                <input id="diNumber" type="text" class="validate">
                <label for="diNumber">DI Number</label>
              </div>
            </div>
            <div class="row">
              <p><b>Enter Date of Birth :</b></p>
              <div class="input-field col s4">
                <select class="browser-default">
                  <option value="" disabled selected>Select Date</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="input-field col s4">
                <select class="browser-default">
                  <option value="" disabled selected>Select Month</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="input-field col s4">
                <select class="browser-default">
                  <option value="" disabled selected>Select Year</option>
                  <option value="1950">1950</option>
                  <option value="1951">1951</option>
                  <option value="1952">1952</option>
                  <option value="1953">1953</option>
                  <option value="1954">1954</option>
                  <option value="1955">1955</option>
                  <option value="1956">1956</option>
                  <option value="1957">1957</option>
                  <option value="1958">1958</option>
                  <option value="1959">1959</option>
                  <option value="1960">1960</option>
                  <option value="1961">1961</option>
                  <option value="1962">1962</option>
                  <option value="1963">1963</option>
                  <option value="1964">1964</option>
                  <option value="1965">1965</option>
                  <option value="1966">1966</option>
                  <option value="1967">1967</option>
                  <option value="1968">1968</option>
                  <option value="1969">1969</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="1976">1976</option>
                  <option value="1977">1977</option>
                  <option value="1978">1978</option>
                  <option value="1979">1979</option>
                  <option value="1980">1980</option>
                  <option value="1981">1981</option>
                  <option value="1982">1982</option>
                  <option value="1983">1983</option>
                  <option value="1984">1984</option>
                  <option value="1985">1985</option>
                  <option value="1986">1986</option>
                  <option value="1987">1987</option>
                  <option value="1988">1988</option>
                  <option value="1989">1989</option>
                  <option value="1990">1990</option>
                  <option value="1991">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>

                </select>
              </div>
            </div>
            <div class="row">
             <div class="input-field col s6">
                <input id="pin" type="email" class="validate">
                <label for="pin">Pin Number</label>
              </div>
              <div class="input-field col s6">
                  <input name="group1" type="radio" id="yes" value="Y" checked="checked" />
                  <label for="yes">Yes</label>
                  <input name="group1" value="N" type="radio" id="no" />
                  <label for="no">No</label>
                
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button type="submit" class="waves-effect waves-light btn green">Add</button>
                <a href="#/user" class="waves-effect waves-light btn red lighten-2">Back to List</a> 
              </div>
            </div> -->
          </form>
        </div>
    </div>
  </div>

  <footer class="page-footer grey darken-1" style="padding-top: 0">
    <div class="footer-copyright">
      <div class="container">
       <!--  Made by <a class="orange-text text-lighten-3" href="#">Materialize</a> -->
      </div>
    </div>
  </footer>
