  <nav class="grey darken-1" role="navigation">
    <div class="nav-wrapper container"><!-- <a id="logo-container" href="#" class="brand-logo">Logo</a> -->
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col m6 left-align">
         <a class="waves-effect waves-light btn grey">Ongoing</a> <a href="#/completed" class="waves-effect waves-light btn grey lighten-3 black-text">Completed</a>
        </div>
        <div class="col m6 right-align">
          <a href="#/addTrip" class="waves-effect waves-light btn right-align">Add New</a>    
        </div>
      </div>
      <div class="row">
        <div class="input-field col m4">
          <input id="search-key" type="text" data-ng-model='search_key'>
          <label for="search-key">Search</label>
        </div>
      </div>
      <table>
	        <thead>
	          <tr>
	              <th data-field="id">Trip ID</th>
	              <th data-field="name">Owner ID</th>
	              <th data-field="price">Start Date</th>
	              <th data-field="price">Start Time</th>
	              <th data-field="price">Multiplier</th>
	              <th data-field="price">Vehicle ID</th>
	              <th data-field="price">Requester ID</th>
	          </tr>
	        </thead>

	        <tbody>
	          <tr data-ng-repeat="trip in ongoingTrips | orderBy: 'id' | filter: search_key">
	            <td>{{ trip.id }}</td>
	            <td>{{ trip.owner_id }}</td>
	            <td>{{ trip.start_date }}</td>
	            <td>{{ trip.start_time }}</td>
	            <td>{{ trip.multipler }}</td>
	            <td>{{ trip.vehicle_id }}</td>
	            <td>{{ trip.requester_id }}</td>
	          </tr>
	        </tbody>
      	</table>
    </div>
  </div>

  <footer class="page-footer grey darken-1" style="padding-top: 0">
    <div class="footer-copyright">
      <div class="container">
       <!--  Made by <a class="orange-text text-lighten-3" href="#">Materialize</a> -->
      </div>
    </div>
  </footer>
