  <nav class="grey darken-1" role="navigation">
    <div class="nav-wrapper container"><!-- <a id="logo-container" href="#" class="brand-logo">Logo</a> -->
      <ul class="right hide-on-med-and-down">
        <li><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li class="active"><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/dashboard">TRIPS</a></li>
        <li><a href="#/user">USERS</a></li>
        <li><a href="#/vendors">VENDORS</a></li>
        <li><a href="#/recharges">RECHARGES</a></li>
        <li><a href="#/vehicles">VEHICLES</a></li>
        <li><a data-ng-click="logout()">LOGOUT</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="input-field col m4">
          <input id="search-key" type="text" data-ng-model="username">
          <label for="search-key">Search</label>
        </div>
        <div class="input-field col m8">
          <div class="right-align">
            <a href="#/addVendor" class="waves-effect waves-light btn">Add New</a>    
          </div>
        </div>
      </div>
      <table>
          <thead>
            <tr>
                <th data-field="id">Vendor ID</th>
                <th data-field="name">Name</th>
                <th data-field="price">License File</th>
                <th data-field="price">Verfied[Y/N]</th>
                <th data-field="price">Mobile</th>
                <th data-field="price">Balance</th>
                <th data-field="price">DOB</th>
                <th data-field="price">DI No.</th>
                <th data-field="price">Pin</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>$0.87</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <footer class="page-footer grey darken-1" style="padding-top: 0">
    <div class="footer-copyright">
      <div class="container">
       <!--  Made by <a class="orange-text text-lighten-3" href="#">Materialize</a> -->
      </div>
    </div>
  </footer>
